{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5 mb-5 reset-password">
        <div class="col-md-6">
            <h1>{{ 'page.ambassador.forgot_password.title'|trans }}</h1>
            <p>{{ 'page.ambassador.forgot_password.description'|trans }}</p>

            <form action="{{ path('user_request_password') }}" method="post" class="mb-5">
                <div class="form-group">
                    <label for="username">{{ 'page.ambassador.forgot_password.form.email.label'|trans }}</label>
                    <input required placeholder="{{ 'page.ambassador.forgot_password.form.email.placeholder'|trans }}" class="form-control" type="text" name="email" data-error="{{ validator.error('email') }}"/>
                </div>

                <button type="submit" class="btn btn-theme bigger">{{ 'page.ambassador.forgot_password.form.send_button'|trans }}</button>
            </form>
        </div>

    </div>
{% endblock %}
