{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5 mb-5">
        <h1>{{ 'page._forgot_password.title'|trans }}</h1>

        <form action="{{ path('user_forgot_password', {'hash': hash}) }}" method="post" class="mt-5">
            <div class="form-group">
                <label for="password">{{ 'page._forgot_password.new_psw'|trans }}</label>
                <input class="form-control w-50" type="password" name="password" data-error="{{ validator.error('password') }}"/>
            </div>

            <div class="form-group mb-5">
                <label for="confirm_password">{{ 'page._forgot_password.new_psw2'|trans }}</label>
                <input class="form-control w-50" type="password" name="confirm_password" data-error="{{ validator.error('confirm_password') }}"/>
            </div>

            <button type="submit" class="btn btn-theme">{{ 'page._forgot_password.new_save'|trans }}</button>
        </form>
    </div>

{% endblock %}
