<div class="form-group">
    <div class="row">
        <div class="col-xs-12 col">
            <label for="password">{{ 'page.ambassador._forms.password.label'|trans }} <span class="text-muted">{{ 'page.ambassador._forms.password.helper'|trans }}</span></label>
            <input type="password" class="form-control" id="password" name="password" value="{{ validator.value('password') }}" data-error="{{ validator.error('password') }}">
        </div>
        <div class="col-xs-12 col">
            <label for="password_confirm">{{ 'page.ambassador._forms.password_confirm.label'|trans }}</label>
            <input type="password" class="form-control" id="password_confirm" name="password_confirm" value="{{ validator.value('password_confirm') }}" data-error="{{ validator.error('password_confirm') }}">
        </div>
    </div>
</div>

<script type="text/javascript">
    function showPassword(){
        var x = document.getElementById("password");
        var y = document.getElementById("password_confirm");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }

        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
</script>
