{% extends 'mails/layoutContact.html.twig' %}

{% block body %}

	<p>{{ ('mail.common.hello')|trans }} {{ contact['firstname'] }}</p>

	<p>{{ 'mail.contact.evaluate.content'|trans }} {{ user['pseudo'] }} {{ 'mail.contact.evaluate.propos'|trans }}</p>

	<p>{{ 'mail.contact.evaluate.important'|trans }} {{ user['pseudo'] }} {{ 'mail.contact.evaluate.profiter'|trans }}</p>

	<p>{{ 'mail.contact.evaluate.thanks'|trans }}</p>

<table cellspacing="0" cellpadding="0"> <tr>
		<td class="respButtonMail" align="left" width="260" height="45" bgcolor="#1E90FF" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; text-align: center;">
    <a href="{{router_scheme ~ '://' ~ router_host ~ path('evaluation', {'hash': hash}) }}?utm_source=Platform_mail&utm_medium=email&utm_campaign=Platform_Contact&utm_content=evaluate" target="_blank" style="color: #fff;text-transform: inherit; text-align: left; padding-right: 30px; min-width: 80px; display: inline-block; vertical-align: middle; touch-action: manipulation; cursor: pointer;  padding: 14px 13px; font-size: 16px; border-radius: 5px; text-decoration: none;">{{ 'mail.contact.evaluate.button'|trans }}</a>
		</td>
	</tr>
</table>
{#	<p>{{ 'mail.contact.evaluate.merci'|trans }}</p>#}

    <p><i>{{ 'mail.common.sign'|trans }}</i></p>

	<p>{{ 'mail.contact.evaluate.pts'|trans }}</p>

{% endblock %}
