{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <h1 class="text-center h1resp">{{ 'page.ambassador.pref.mail.title'|trans }}</h1>

        <p class="mt-5">{{ 'page.ambassador.pref.mail.subtitle'|trans }}</p>

        <form action="{{ path('user_dashboard_preference')}}" method="post">

            <div class="row">

                <div class="col-1 text-center">
                    <input type="checkbox" id="informations_enabled" name="informations_enabled" data-checked="{% if user is defined %}{% if user['informationsEnabled'] == true %}1{% else %}0{% endif %}{% endif %}">
                </div>

                <div class="col-11">
                    <label for="informations_enabled">{{ 'page.ambassador.pref.mail.reasontitle2'|trans }}</label>
                    <p data-error="{{ validator.error('newsletter_enabled') }}">
                        {{ 'page.ambassador.pref.mail.reason2'|trans }}
                    </p>
                </div>

            </div>

            <div class="text-right mt-3">
                <button type="submit" class="btn btn-theme"><a style="text-decoration: none; color: white" href="{{ path('user_dashboard_profile') }}" id="aCss" >{{ 'page._common.button.annuler'|trans }}</a></button>
                <button class="btn btn-theme">{{ 'page._common.button.enregistrer'|trans }}</button>
            </div>

        </form>

    </div>
{% endblock %}
