
{% extends 'mails/layout.html.twig' %}

{% block body %}
    <div>
        <p>{{ ('mail.common.hello') |trans }} {{ user['firstname'] }},</p>
        <p>{{ ('mail.account.activation.title') |trans }}</p>
        <p>{{ ('mail.account.activation.verif') |trans }}</p>

        <table cellspacing="0" cellpadding="0"> <tr>
                <td class="respButtonMail" align="left" width="260" height="45" bgcolor="#1E90FF" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block; text-align: center;">
        <a href="{{ url('user_activate_account', {"hash": user['hash']}) }}?utm_source=Platform_mail&utm_medium=email&utm_campaign=Platform_Ambassador&utm_content=activation" target="_blank" style="color: #fff;text-transform: inherit; text-align: left; padding-right: 30px; min-width: 80px; display: inline-block; vertical-align: middle; touch-action: manipulation; cursor: pointer;  padding: 14px 13px; font-size: 16px; border-radius: 5px; text-decoration: none;">{{ ('mail.account.activation.verification') |trans }}</a>
                </td>
            </tr>
        </table>
        <p>{{ 'mail.common.signature.ambteam'|trans }}</p>
    </div>
{% endblock %}
