{% extends 'mails/layout.html.twig' %}

{% block body %}
	<p>{{ message['question'] }}</p>
	<br>
    <p>{{ ('mail.user.message_private.content')|trans }}</p>
    <p>{{ ('mail.user.message_private.rep')|trans }}</p>
    <p>{{ ('mail.user.message_private.thanks')|trans }}</p>
    <p>{{ 'mail.common.sign'|trans }}</p>
{% endblock %}
