<div class="name">
        <span>{{ gpu['companyComponent'] }} {{ gpu['nameComponent']}} {{  gpu['otherInformationComponent'] }}</span>
</div>
<div class="rating">
    {% for i in 1..5 %}
        <span class="icon-star{{ i > gpu['rating'] ? '-empty' }}"></span>
    {% endfor %}
    {{ gpu['rating']|round(1) }} / 5
    {% if editable %}<a href="{{ path('user_dashboard_products') }}"><i class="icon-pencil"></i></a>{% endif %}
</div>
