{% extends 'base.html.twig' %}

{% block body %}

    <div class="dashboard-krups">
    </div>
    <div class="container mt-3 dashboard dashboard-ambassador">

{#        {% if app.user.activatedAt is null %}#}
{#            <p class="alert alert-warning"#}
{#               id="margeTop">{{ 'page.ambassador.dashboard.layout.account_not_activated'|trans }}#}
{#                <br>{{ "page.ambassador.dashboard.layout.section.profile.invalid_activated"|trans }}<a#}
{#                        href="{{ path('ambassador_voucher_relance') }}"> {{ "page.ambassador.dashboard.layout.section.profile.relance_mail"|trans }}</a>#}
{#            </p>#}
{#        {% endif %}#}


            <div class="row header">

                <div class="col-xs-12 col-4">

                    <h5 class="welcome-message">{{ 'page.ambassador.dashboard.layout.section.profile.title'|trans({ '%pseudo%': user['username'] })|raw }}</h5>

                </div>
            </div>

            <div class="row header">


            </div>

            <div class="row mt-4">
                <div class="col-xs-12 col-md-4 d-none d-sm-block" id="scrollbg" style="z-index: 1;">
                    <div class="nav flex-column nav-pills sticky-part-holder">
                        <a class="nav-link {{ actual_route in ['user_dashboard_invitation'] ? 'active' }}"
                           href="{{ path('user_dashboard_invitation') }}">
                            {{ 'page.ambassador.dashboard.layout.section.navigation.voucher'|trans }}
                        </a>

{#                        <a class="nav-link {{ actual_route == 'ambassador_dashboard_share' ? 'active' }}"#}
{#                           href="{{ path('ambassador_dashboard_share') }}">#}
{#                            {{ 'page.ambassador.dashboard.layout.section.navigation.share'|trans }}#}
{#                        </a>#}
{#                        <a class="nav-link {{ actual_route == 'ambassador_message' ? 'active' }}"#}
{#                           href="{{ path('ambassador_message') }}">#}
{#                            {{ 'page.ambassador.dashboard.layout.section.navigation.message'|trans }}#}
{#                        </a>#}
{#                        <a class="nav-link {{ actual_route == 'ambassador_evaluation' ? 'active' }}"#}
{#                           href="{{ path('ambassador_evaluation') }}">#}
{#                            {{ 'page.ambassador.dashboard.layout.section.navigation.evaluation'|trans }}#}
{#                        </a>#}
{#                        <a class="nav-link {{ actual_route == 'ambassador_points' ? 'active' }}"#}
{#                           href="{{ path('ambassador_points') }}">#}
{#                            {{ 'page.ambassador.dashboard.layout.section.navigation.points'|trans }}#}
{#                        </a>#}
{#                        <a style="display: none" class="nav-link {{ actual_route == 'ambassador_ranking' ? 'active' }}"#}
{#                           href="{{ path('ambassador_ranking') }}">#}
{#                            {{ 'page.ambassador.dashboard.layout.section.navigation.ranking'|trans }}#}
{#                        </a>#}
{#                        <a class="nav-link" href="{{ path('ambassador_profile') }}">#}
{#                            {{ 'page.ambassador.dashboard.layout.section.navigation.profile'|trans }}#}
{#                        </a>#}
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>


{% endblock %}
